* {font-family: 'Source Sans Pro'}

body {margin: 0}

td {text-align: center}

* {background-color: #5d5d00; color:beige;}

#weatherTemp {font-size: 140px; padding-left: 20px}
#weatherIcon {font-size: 140px}

#date  {font-size: 180px}
#time {font-size: 320px; height:300px}
#time #dark {border: 1px solid beige}
#time #light {border: 1px solid #5d5d00}
td {font-size: 38px}

#weather0 i {line-height: 1.75}
#weather1 i {line-height: 1.75}
#weather2 i {line-height: 1.75}